table {
    text-align: center;
    margin: 10px auto 10px auto;
    border: 2px solid;
    padding: 5px;
}

table td {
    width: 220px;
    border: 1px solid;
    padding: 3px;
}

#adding {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: wrap;
    width: 800px;
    margin: auto;
}

/* #addFac {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: wrap;
    width: 400px;
    margin: auto;
}

#assignDean {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: wrap;
    width: 400px;
    margin: auto;
} */

#addFac label {
    width: 160px;
    margin: 5px;
}


#container {
    width: 800px;
    margin: auto;
}